body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-size: 1000px;
    height: 900px;
}
#output{
    /* background-color: rgba(0, 0, 0, 0.678); */
    color: rgb(0, 0, 0);
}
.table{
    color: rgb(0, 0, 0);
}
.video-container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}
#video{
    width: 300px;
    height: 300px;
}
#output {
    font-size: 18px;
}

#output h2 {
    font-size: 22px;
}

#output p {
    margin: 0.5rem 0;
}
.input-cd{
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(68, 49, 49, 0.356);
}
.input-cd::placeholder{
    color: #ffffff94;
    text-align: center;
}
/* #tela-info{
    display: none;
} */
