body {
    background-color: #f8f9fa;
}

.video-container {
    position: relative;
    border: 2px solid #343a40;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
#video {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #343a40;
}

#output {
    font-size: 18px;
}

#output h2 {
    font-size: 22px;
}

#output p {
    margin: 0.5rem 0;
}
